*{
    margin: 0;
    padding: 0;
}

body {
    background: #93A8AC;
    text-align: center;
}

.contener {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 5vmin;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: #b0413e;
    background: rgb(243, 243, 173);
}
.reset {
    padding: 1rem;
    width: 10rem;
    font-size: 1.2rem;
    background: rgb(17, 16, 16);
    color: white;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 1.6);
}

.newgame {
    padding: 1rem;
    width: 10rem;
    font-size: 1.2rem;
    background: rgb(17, 16, 16);
    color: white;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 1.6);
}

.msg {
    font-size: 4rem;
    color: white;
    margin-bottom: 3rem;
}
.msg-contener {
    margin-bottom: 30vmin;
}

.hide {
    display: none;
}